
**/[Bb]in/
**/[Dd]ebug/
**/[Oo]bj/
[Rr]elease/
x64/
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
/[Dd]ll

*.userosscache
*.sln.docstates

_ReSharper*/
*.[Rr]esharper
*.DotSettings.user

$tf/

.vscode/

**/[Pp]ackages/*

**/node_modules/

publish/
*.runtimeconfig.json
*.runtimeconfig.dev.json

*.mdf
*.ldf

*.log
*.txt

*~

*.Development.json
*.Staging.json
*.Production.json

*.secrets
*.key

**/[Pp]royectoConNpm/node_modules/
**/[Pp]royectoConNpm/package-lock.json

.DS_Store?
Thumbs.db