@model InventarioMVC.Models.Marca

@{
    ViewData["Title"] = "Desear borrar la marca: " + Model.Nombre;
}

<h3>@ViewData["Title"]</h3>
<div>
    <h4>Marca</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <partial name="Actions/_Delete" />
    </form>
</div>
