@model int
<a asp-action="Edit" asp-route-id="@Model" class="btn btn-secondary">Edit</a>
<a asp-action="Details" asp-route-id="@Model" class="btn btn-info">
    <i class="fa-solid fa-rectangle-list"></i> Details</a>
<a asp-action="Delete" asp-route-id="@Model" class="btn btn-danger">Delete</a>